{% extends 'mundialitopx/main/base.html' %}

{% block content %}
<div class="row pt-3">
    <h2>Clasificación</h2>
    <div class="table-responsive pt-3">
        <table class="espaciado table table-bordered">
          <thead>
              <tr>
                  <th scope="col" class="table-dark">P</th>
                <th scope="col" class="table-dark">Pilotos</th>
                <th scope="col" class="table-warning">Puntos</th>
                <th scope="col" class="table-dark">BH
                  <img class="banderas" src="assets/Banderas/Bahrein.png" alt="Bahrein">
                </th>
                <th scope="col" class="table-dark">AS
                  <img class="banderas" src="assets/Banderas/arabiasaudi.png" alt="Arabia Saudi">
                </th>
                <th scope="col" class="table-dark">AU
                  <img class="banderas" src="assets/Banderas/australia.png" alt="Australia">
                </th>
                <th scope="col" class="table-dark">IM
                  <img class="banderas" src="assets/Banderas/italy.png" alt="Imola">
                </th>
                <th scope="col" class="table-dark">PO
                  <img class="banderas" src="assets/Banderas/portugal.png" alt="Portugal">
                </th>
                <th scope="col" class="table-dark">MI
                  <img class="banderas" src="assets/Banderas/eeuu.png" alt="Miami">
                </th>
                
                <th scope="col" class="table-dark">ES
                  <img class="banderas" src="assets/Banderas/spain.png" alt="España">
                </th>
                
                <th scope="col" class="table-dark">MN
                  <img class="banderas" src="assets/Banderas/monaco.png" alt="Monaco">
                </th>
                
                <th scope="col" class="table-dark">AZ
                  <img class="banderas" src="assets/Banderas/azerbaijan.png" alt="azerbaijan">
                </th>
                
                <th scope="col" class="table-dark">CA
                  <img class="banderas" src="assets/Banderas/canada.png" alt="Canada">
                </th>
                
                <th scope="col" class="table-dark">SL
                  <img class="banderas" src="assets/Banderas/uk.png" alt="Silverstone">
                </th>
                <th scope="col" class="table-dark">AUS
                  <img class="banderas" src="assets/Banderas/austria.png" alt="Austria">
                </th>
                <th scope="col" class="table-dark">FR
                  <img class="banderas" src="assets/Banderas/france.png" alt="Francia">
                </th>
                <th scope="col" class="table-dark">HU
                  <img class="banderas" src="assets/Banderas/hungary.png" alt="Hungria">
                </th>
                <th scope="col" class="table-dark">BL
                  <img class="banderas" src="assets/Banderas/belgium.png" alt="Belgica">
                </th>
                <th scope="col" class="table-dark">HO
                  <img class="banderas" src="assets/Banderas/netherlands.png" alt="Holanda">
                </th>
                <th scope="col" class="table-dark">IT
                  <img class="banderas" src="assets/Banderas/italy.png" alt="Italia">
                </th>
                <th scope="col" class="table-dark">SG
                  <img class="banderas" src="assets/Banderas/singapore.png" alt="Singapore">
                </th>
                <th scope="col" class="table-dark">JA
                  <img class="banderas" src="assets/Banderas/japan.png" alt="Japon">
                </th>
                <th scope="col" class="table-dark">US
                  <img class="banderas" src="assets/Banderas/eeuu.png" alt="Estados Unidos">
                </th>
                <th scope="col" class="table-dark">MX
                  <img class="banderas" src="assets/Banderas/mexico.png" alt="Mexico">
                </th>
                <th scope="col" class="table-dark">BR
                  <img class="banderas" src="assets/Banderas/brazil.png" alt="Brasil">
                </th>
                <th scope="col" class="table-dark">AD
                  <img class="banderas" src="assets/Banderas/ae.png" alt="Abu dabi">
                </th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="bg-secondary">
                <th scope="row">1</th>
                <th>SeraLoza7</th>
                <td class="bg-warning">151</td>
                <td class="bg-success">26</td>
                <td class="bg-success">26</td>
                <td>15</td>
                <td>25</td>
                <td>25</td>
                <td class="bg-success">34</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              
              
              <tr>
                <th scope="row">2</th>
                <th>CarlosFdez</th>
                <td class="bg-warning">87</td>
                <td>10</td>
                <td>18</td>
                <td>18</td>
                <td>15</td>
                <td>18</td>
                <td>8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="bg-secondary">
                <th scope="row">3</th>
                  <th>LupinRG</th>
                <td class="bg-warning">84</td>
                <td>6</td>
                <td>10</td>
                <td>25</td>
                <td>18</td>
                <td>1</td>
                <td>24</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                  <th scope="row">4</th>
                <th>HugoPeligro</th>
                <td class="bg-warning">80</td>
                <td>18</td>
                <td>15</td>
                <td>12</td>
                <td class="bg-success">18º</td>
                <td class="bg-success">13</td>
                <td>22</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                  
                </tr>
                
                <tr class="bg-secondary">
                  <th scope="row">5</th>
                  <th>Pavón</th>
                  <td class="bg-warning">51</td>
                  <td>14º</td>
                  <td>12</td>
                  <td>10</td>
                  <td>2</td>
                  <td>15</td>
                  <td>12</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                
                <tr>
                  <th scope="row">6</th>
                  <th>Vettel</th>
                  <td class="bg-warning">33</td>
                  <td>4</td>
                  <td>8</td>
                  <td>1</td>
                  <td>10</td>
                  <td>10</td>
                  <td>12º</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                
                <tr class="bg-secondary">
                  <th scope="row">7</th>
                  <th>JorTron</th>
                <td class="bg-warning">33</td>
                <td>15</td>
                <td class="bg-danger">DNF</td>
                <td>8</td>
                <td class="bg-danger">DSQ</td>
                <td class="bg-danger">DSQ</td>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr>
                  <th scope="row">8</th>
                  <th>Alonso</th>
                <td class="bg-warning">32</td>
                <td>8</td>
                <td>6</td>
                <td>4</td>
                <td>8</td>
                <td>6</td>
                <td>11º</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr class="bg-secondary">
                  <th scope="row">9</th>
                  <th>Hamilton</th>
                <td class="bg-warning">20</td>
                <td class="bg-danger">DNF</td>
                <td class="bg-danger">DNF</td>
                <td>6</td>
                <td>4</td>
                <td>11º</td>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr>
                  <th scope="row">10</th>
                  <th>Pérez</th>
                <td class="bg-warning">13</td>
                <td>11º</td>
                <td class="bg-danger">DNF</td>
                <td>11º</td>
                <td>11º</td>
                <td>4</td>
                <td>9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                
                <tr class="bg-secondary">
                  <th scope="row">11</th>
                  <th>Bottas</th>
                <td class="bg-warning">12</td>
                <td class="bg-danger">DNF</td>
                <td>4</td>
                <td class="bg-danger">DNF</td>
                <td>6</td>
                <td>2</td>
                <td>14º</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                
                
                <tr>
                  <th scope="row">12</th>
                  <th>Póllez</th>
                  <td class="bg-warning">12</td>
                  <td>12</td>
                  <td class="bg-danger">DNF</td>
                  <td class="bg-danger">DSQ</td>
                  <td>17º</td>
                  <td>19º</td>
                  <td>18º</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                
                
                <tr class="bg-secondary">
                  <th scope="row">13</th>
                  <th>Albon</th>
                  <td class="bg-warning">6</td>
                  <td>13º</td>
                  <td>11º</td>
                  <td>2</td>
                  <td>16º</td>
                  <td>14º</td>
                  <td>4</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                
                <tr>
                  <th scope="row">14</th>
                  <th>Norris</th>
                  <td class="bg-warning">5</td>
                  <td>16º</td>
                  <td>2</td>
                  <td>12º</td>
                  <td>13º</td>
                  <td>15º</td>
                  <td>3</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                
                <tr class="bg-secondary">
                  <th scope="row">15</th>
                  <th>Russell</th>
                <td class="bg-warning">3</td>
                <td>1</td>
                <td>1</td>
                <td>14º</td>
                <td>12º</td>
                <td>13º</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr>
                  <th scope="row">16</th>
                  <th>Sainz</th>
                <td class="bg-warning">2</td>
                <td>2</td>
                <td>14º</td>
                <td>13º</td>
                <td class="bg-danger">DNF</td>
                <td class="bg-danger">DNF</td>
                <td class="bg-danger">DNF</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                
                
                
                
                <tr class="bg-secondary">
                  <th scope="row">17</th>
                <th>Latifi</th>
                <td class="bg-warning">1</td>
                <td>18º</td>
                <td>12º</td>
                <td>15º</td>
                <td>1</td>
                <td>16º</td>
                <td>15º</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr>
                  <th scope="row">18</th>
                  <th>Ocon</th>
                <td class="bg-warning">1</td>
                <td>12º</td>
                <td>13º</td>
                <td>16º</td>
                <td class="bg-danger">DNF</td>
                <td>12º</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr class="bg-secondary">
                  <th scope="row">19</th>
                <th>Gonzalo</th>
                <td class="bg-warning">0</td>
                <td>17º</td>
                <td>16º</td>
                <td class="bg-success">18º</td>
                <td class="bg-danger">DSQ</td>
                <td>18º</td>
                <td class="bg-danger">DSQ</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr>
                  <th scope="row">20</th>
                  <th>Zhou</th>
                <td class="bg-warning">0</td>
                <td>15º</td>
                <td>15º</td>
                <td class="bg-danger">DNF</td>
                <td>15º</td>
                <td>17º</td>
                <td>16º</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                
               
            </tbody>
        </table>
        </div>
</div>


{% endblock %}