{% extends 'mundialitopx/main/base.html' %}

{% block content %}
<div class="row pt-3">
    <h2>Clasificación</h2>
    <div class="table-responsive pt-3">
        <table class="espaciado table table-bordered">
          <thead>
              <tr>
                  <th scope="col" class="table-dark">P</th>
                <th scope="col" class="table-dark">Pilotos</th>
                <th scope="col" class="table-warning">Puntos</th>
                {% for carrera in carrerasP %}
                <th scope="col" class="table-dark">
                  <img class="w-25" src="{{carrera.bandera.url}}" alt="">
                </th>
                {% endfor %}
              </tr>
            </thead>
            
            <tbody>
              <tr class="bg-secondary">
                <th scope="row">1</th>
                <th>SeraLoza7</th>
                <td class="bg-warning">151</td>
                <td class="bg-success">26</td>
                <td class="bg-success">26</td>
                <td>15</td>
                <td>25</td>
                <td>25</td>
                <td class="bg-success">34</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              
              
              <tr>
                <th scope="row">2</th>
                <th>CarlosFdez</th>
                <td class="bg-warning">87</td>
                <td>10</td>
                <td>18</td>
                <td>18</td>
                <td>15</td>
                <td>18</td>
                <td>8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="bg-secondary">
                <th scope="row">3</th>
                  <th>LupinRG</th>
                <td class="bg-warning">84</td>
                <td>6</td>
                <td>10</td>
                <td>25</td>
                <td>18</td>
                <td>1</td>
                <td>24</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                  <th scope="row">4</th>
                <th>HugoPeligro</th>
                <td class="bg-warning">80</td>
                <td>18</td>
                <td>15</td>
                <td>12</td>
                <td class="bg-success">18º</td>
                <td class="bg-success">13</td>
                <td>22</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                  
                </tr>
                
                <tr class="bg-secondary">
                  <th scope="row">5</th>
                  <th>Pavón</th>
                  <td class="bg-warning">51</td>
                  <td>14º</td>
                  <td>12</td>
                  <td>10</td>
                  <td>2</td>
                  <td>15</td>
                  <td>12</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                
                <tr>
                  <th scope="row">6</th>
                  <th>Vettel</th>
                  <td class="bg-warning">33</td>
                  <td>4</td>
                  <td>8</td>
                  <td>1</td>
                  <td>10</td>
                  <td>10</td>
                  <td>12º</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                
                <tr class="bg-secondary">
                  <th scope="row">7</th>
                  <th>JorTron</th>
                <td class="bg-warning">33</td>
                <td>15</td>
                <td class="bg-danger">DNF</td>
                <td>8</td>
                <td class="bg-danger">DSQ</td>
                <td class="bg-danger">DSQ</td>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr>
                  <th scope="row">8</th>
                  <th>Alonso</th>
                <td class="bg-warning">32</td>
                <td>8</td>
                <td>6</td>
                <td>4</td>
                <td>8</td>
                <td>6</td>
                <td>11º</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr class="bg-secondary">
                  <th scope="row">9</th>
                  <th>Hamilton</th>
                <td class="bg-warning">20</td>
                <td class="bg-danger">DNF</td>
                <td class="bg-danger">DNF</td>
                <td>6</td>
                <td>4</td>
                <td>11º</td>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr>
                  <th scope="row">10</th>
                  <th>Pérez</th>
                <td class="bg-warning">13</td>
                <td>11º</td>
                <td class="bg-danger">DNF</td>
                <td>11º</td>
                <td>11º</td>
                <td>4</td>
                <td>9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                
                <tr class="bg-secondary">
                  <th scope="row">11</th>
                  <th>Bottas</th>
                <td class="bg-warning">12</td>
                <td class="bg-danger">DNF</td>
                <td>4</td>
                <td class="bg-danger">DNF</td>
                <td>6</td>
                <td>2</td>
                <td>14º</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                
                
                <tr>
                  <th scope="row">12</th>
                  <th>Póllez</th>
                  <td class="bg-warning">12</td>
                  <td>12</td>
                  <td class="bg-danger">DNF</td>
                  <td class="bg-danger">DSQ</td>
                  <td>17º</td>
                  <td>19º</td>
                  <td>18º</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                
                
                <tr class="bg-secondary">
                  <th scope="row">13</th>
                  <th>Albon</th>
                  <td class="bg-warning">6</td>
                  <td>13º</td>
                  <td>11º</td>
                  <td>2</td>
                  <td>16º</td>
                  <td>14º</td>
                  <td>4</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                
                <tr>
                  <th scope="row">14</th>
                  <th>Norris</th>
                  <td class="bg-warning">5</td>
                  <td>16º</td>
                  <td>2</td>
                  <td>12º</td>
                  <td>13º</td>
                  <td>15º</td>
                  <td>3</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
                
                <tr class="bg-secondary">
                  <th scope="row">15</th>
                  <th>Russell</th>
                <td class="bg-warning">3</td>
                <td>1</td>
                <td>1</td>
                <td>14º</td>
                <td>12º</td>
                <td>13º</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr>
                  <th scope="row">16</th>
                  <th>Sainz</th>
                <td class="bg-warning">2</td>
                <td>2</td>
                <td>14º</td>
                <td>13º</td>
                <td class="bg-danger">DNF</td>
                <td class="bg-danger">DNF</td>
                <td class="bg-danger">DNF</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                
                
                
                
                <tr class="bg-secondary">
                  <th scope="row">17</th>
                <th>Latifi</th>
                <td class="bg-warning">1</td>
                <td>18º</td>
                <td>12º</td>
                <td>15º</td>
                <td>1</td>
                <td>16º</td>
                <td>15º</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr>
                  <th scope="row">18</th>
                  <th>Ocon</th>
                <td class="bg-warning">1</td>
                <td>12º</td>
                <td>13º</td>
                <td>16º</td>
                <td class="bg-danger">DNF</td>
                <td>12º</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr class="bg-secondary">
                  <th scope="row">19</th>
                <th>Gonzalo</th>
                <td class="bg-warning">0</td>
                <td>17º</td>
                <td>16º</td>
                <td class="bg-success">18º</td>
                <td class="bg-danger">DSQ</td>
                <td>18º</td>
                <td class="bg-danger">DSQ</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                <tr>
                  <th scope="row">20</th>
                  <th>Zhou</th>
                <td class="bg-warning">0</td>
                <td>15º</td>
                <td>15º</td>
                <td class="bg-danger">DNF</td>
                <td>15º</td>
                <td>17º</td>
                <td>16º</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                
                
               
            </tbody>
        </table>
        </div>
</div>


{% endblock %}