{% extends 'mundialitopx/main/base.html' %}

{% block content %}
	<div class="row g-0">
		<div class="inicio-escudo col">
            <img src="../../../../media/Escudo_Paxangars_rojo.png" alt="">
        </div>
	</div>
    <div class="row pt-5 g-0">
        <div class="col-12">
            <h2>¿Qué es Mundialito Paxangars?</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptatibus commodi quam impedit vel veniam error incidunt cupiditate mollitia sequi quasi aperiam suscipit quidem, cum distinctio a perferendis ex nesciunt.</p>
        </div>
        <div class="col-4">
            <h2>Normas del Mundialito Paxangars</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptatibus commodi quam impedit vel veniam error incidunt cupiditate mollitia sequi quasi aperiam suscipit quidem, cum distinctio a perferendis ex nesciunt.</p>
        </div>
    </div>

{% endblock %}