{% extends 'mundialitopx/main/base.html' %}

{% block content %}
<div class="row">
    <h1>Fantasy Paxangars</h1>
    <h2>Ligas a la que pertenece</h2>
    {% for liga in ligas %}
    <div class="col-4">

    </div>
    {% endfor %}
    <div class="col-12">
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <a class="btn btn-primary">Crear Liga</a>
            </div>
            <div class="col-4">
                <a class="btn btn-primary">Unirse a una liga</a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row d-flex justify-content-center">
    <h2>Pilotos</h2>
    {% for piloto_juego in pilotos %}
    <div class="pt-4 col-2">
        <a href="{% url 'detallepiloto' piloto_juego.piloto.pk %}">
            <div class="position-relative">
                <img class="object-fit-fill border rounded img-fluid" src="{{ piloto_juego.piloto.foto.url}}" alt="">
                <div class="texto-foto text-start text-white position-absolute top-0 start-0">
                    <p> {{ piloto_juego.valor }}€</p>
                </div>
                <div class="texto-foto text-start text-white position-absolute bottom-0 start-0">
                    <h3> {{ piloto_juego.piloto.nombre }}</h3>
                    <h3> {{ piloto_juego.puntos_totales }}pts</h3>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}