{% extends 'mundialitopx/main/base.html' %}

{% block content %}
<div class="row ">
    <div class="col-7 offset-1 pt-5">
        <div class="card">
            <div class="card-title">
                <div class="row pt-4 g-3">
                    <div class="col-3 offset-1">
                        <img class="img-fluid shadow" src="{{ piloto.foto.url }}" alt="piloto">
                    </div>
                    <div class="col-8 text-start">
                        <div class="position-relative">
                            <h2>{{ piloto.nombre }}</h2>
                            <img class="w-25" src="{{ piloto.pais.bandera.url }}" alt="bandera">
                            <p class="pt-4">Nº{{ piloto.dorsal }}</p>
                            <p>Posición: {{piloto.puesto}}º</p>
                            <p>Puntos: {{ piloto.puntos }}pts</p>

                        </div>
                    </div>
                </div>
                <hr>
                <div class="pt-3 card-text text-start">

                    <div class="row">
                        <div class="col-10 offset-1 ">
                            <h2>Biografía</h2>
                            <p class="biografia">{{ piloto.biografia }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 pt-5">
        {% if carreras %}
        <table class="table table-bordered">
            <tr class="table-dark">
                <th>Circuito</th>
                <th>Posición</th>
                <th>Puntos</th>
            </tr>
            {% for carrera in carreras %}
            <tr>
                <td class="table-light">{{ carrera.circuito.nombre }}</td>
                <td>{{ carrera.puesto }}</td>
                {% if carrera.vuelta_rapida == True %}
                <td class="table-success">{{ carrera.puntos }}</td>
                {% else %}
                <td>{{ carrera.puntos }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No se encuentra la carrera</p>
        {% endif %}
    </div>
</div>
{% endblock %}