{% extends 'mundialitopx/base.html' %}

{% block content %}
	<div class="row pt-5">
		<h2>Gestión de Paises</h2>
	</div>
	<div class="row pt-5 justify-content-center grid gap-5">
		
		<div class=" card-menu col-2">
			<a href="{% url 'crear_pais' %}">
				<div class="cardp mcard card shadow w-100 h-100">
					<div class="row pt-5">
						<div class="col">
							<i class=" plus bi bi-plus-circle-fill"></i>
						</div>
					</div>
					<div class="row text-center">
						<div class="col pt-3">
							<p>Crear un Pais</p>
						</div>
					</div>
				</div>
			</a>
		</div>

        <div class="row">
            {% for pais in paises %}

        <div class="col-3">
            <a href="{% url 'detalle_pais' pais.id %}">
            <div class="card cardp text-center">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-12"><img height="100px"  src="{{ pais.bandera.url}}" alt=""></div>
                            <div class="col-12"><h2>{{ pais.nombre }}</h2></div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    


{% endfor %}
        </div>
		
	</div>
{% endblock %}